.idea/.name
.idea/compiler.xml
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/a95a45c6-b831-40ec-a429-fcdf3cb9afb6.xml
.idea/gradle.xml
.idea/kotlinc.xml
.idea/libraries/Gradle__junit_junit_4_4.xml
.idea/libraries/Gradle__log4j_log4j_1_2_17.xml
.idea/libraries/Gradle__org_apache_commons_commons_lang3_3_5.xml
.idea/libraries/Gradle__org_apache_derby_derby_10_11_1_1.xml
.idea/libraries/Gradle__org_junit_jupiter_junit_jupiter_api_.xml
.idea/libraries/Gradle__org_slf4j_slf4j_api_1_7_25.xml
.idea/libraries/Gradle__org_slf4j_slf4j_log4j12_1_7_25.xml
.idea/misc.xml
.idea/modules.xml
.idea/modules/Alcohol Label Project.iml
.idea/modules/Alcohol_Label_Project_main.iml
.idea/modules/Alcohol_Label_Project_test.iml
.idea/vcs.xml
.idea/workspace.xml
