.text-field {
	-fx-opacity:0.8;
}

#approval_comments_text {
	-fx-background-color: #a9a9a9 , #FAFFFF , #FAFFFF;
	-fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

#address_text {
	-fx-opacity:0.8;
}

.button {
	-fx-background-color:#7D7F7F, #FAFFFF;
    -fx-background-insets: -1 -1 -1 -1, 0 0 0 0;
}

.button:hover {
    -fx-background-color: #C8CCCC;
}

.button:pressed {
    -fx-background-color: #7D7F7F;
}
