.root {
    -fx-background-color: white;
}

/* Buttons */

.button {
    -fx-background-color: #003A6C;
    -fx-text-fill: #CDCDCD;
    -fx-font-size: 14;
    -fx-border-color: #0B132B;

}

.button:hover {
    -fx-background-color: #004179;
}
.button:pressed {
    -fx-background-color: #004699;
}



/* Labels */

.label {
    -fx-text-fill: #CDCDCD;
    -fx-font-size: 14;
}


#welcome {
    -fx-text-fill: #CDCDCD;
    -fx-font-size: 40px;
}



/* Drop Shadow Rectangle */

#menuBarTitleRec {
    -fx-effect: dropshadow(gaussian, black, 10, 0.1, 0, 0);
}


/* Search Bar */

.text-field {
    -fx-background-color: black , #003A6C , #003A6C;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
    -fx-text-fill: #CDCDCD;
}

.text-field:focused {
    -fx-background-color: black , #003A6C , #003A6C;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
    -fx-text-fill: #CDCDCD;
}


