/***** GLOBALLY DEFINED ELEMENT STYLES *****/

Button {
    -fx-background-color: #003A6C;
    /*-fx-background-color: #6C98EF;*/
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 15px;

    -fx-effect: dropshadow(gaussian, #353535, 2, 0.0, 0, 3);
}

Label {
    -fx-text-fill: #111111;
    -fx-font-size: 16px;
}

TextField, PasswordField {
    -fx-text-fill: #111111;
    -fx-font-size: 16px;
    -fx-background-color: #F4F4F4, #111111, #F4F4F4;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, -3 -1 2 -1;
}

TableView {
    -fx-border-style: none;
    -fx-font-size: 12px;
    -fx-background-color: transparent;
}

.column-header,
TableView .column-header .filler,
TableView .column-header-background .filler {
    -fx-background-color: #F4F4F4;
}

Button:hover {
    -fx-background-color: #004179;
}

Button:pressed {
    -fx-background-color: #004699;
}

Rectangle {
    -fx-fill: #FAFAFA;
    -fx-border-style: solid;
    -fx-border-color: #111111;
    -fx-border-size: 1px;
}

CheckBox .box {
    -fx-background-color: #FFFFFF;
    -fx-border-style: solid;
    -fx-border-color: #111111;
    -fx-border-size: 1px;
}

.accordion .titled-pane .title {
    -fx-background-color: transparent;
    /*-fx-border-style: solid;*/
    /*-fx-border-color: #111111;*/
    /*-fx-border-size: 1px;*/
}

/*** Menu Bar ***/

#menuBarTitleRec, #menuBarButtonRec {
    -fx-background-color: #FFFFFF, #003A6C, #003A6C;
    -fx-fill: #003A6C;
    -fx-text-fill: #FFFFFF;
}

#menuBarTitleRec {
    -fx-effect: dropshadow(gaussian, #353535, 10, 0.5, 0, 0);
}

#menuGridPane {
    -fx-padding: 2px;
    -fx-border-color: #0B132B;
    -fx-border-width: 1px;
}

.menuButton {
    -fx-border-color: #0B132B;
    -fx-border-width: 0px 1px;
    -fx-font-weight: bold;
    -fx-padding: 0px;
    -fx-effect: none;
}

#menuSearchButton {
    -fx-border-width: 0px 0px 0px 1px;
}

.menuLabel {
    -fx-fill: #FFFFFF;
    -fx-text-fill: #FFFFFF;
}

#menuSearch {
    -fx-background-color: #FFFFFF, #003A6C, #003A6C;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, -3 -1 2 -1;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16px;

}

#menuSearch:focused {
    -fx-background-color: #FFFFFF, #003A6C, #003A6C;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, -3 -1 2 -1;
    -fx-text-fill: #FFFFFF;

}

#pageTitle {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 36px;
}

/***** CLASSES *****/

.titleBox {
    -fx-fill: #003A6C;
    -fx-text-fill: #FFFFFF;
}

.titleText {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 36px;
}

.mainTextL {
    -fx-font-size: 18px;
}

.mainTextXL {
    -fx-font-size: 24px;
}

.normalTitle {
    -fx-font-size: 36px;
}

.errorLabel {
    -fx-text-fill: red;
    -fx-font-weight: bold;
}