/* Text Fields */

.text-field {
    -fx-background-color: black , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.text-field:focused {
    -fx-background-color: black , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}




/* Buttons */

.button {
    -fx-padding: 15;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: #6C98EF;
}

.button:hover {
    -fx-background-color: #86a9ef;
}
.button:pressed {
    -fx-background-color: #abc4f4;
}



/* Background */

#anchor {
    -fx-background-color: white;
}